/*
* Custom variables
*/
$main-font: 'Lato', sans-serif;
$sub-font: 'Montserrat', sans-serif;
$fancy-font: 'Kaushan Script', cursive;
$font-size: 16px;
 
$black: #000;
$white: #FFF;
$grey: #585c65;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;
$blue: #3466a1;
 
$padding: 10px;
$margin: 10px;
 
/*
* Override Bootstrap variables
*/
$font-family-sans-serif: $main-font;
 
@import 'bootstrap';

* {
    position: relative;
    box-sizing: border-box;
}
 
body {
    color: $grey;
    font-size: $font-size;
}
 
 
header {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    background-image:  url(../images/mountains.jpg);
    background-size: cover;
    background-attachment: fixed;   
}

img {
    position: fixed;
    height: 100vh;
    top: 0px;
    left: 50%;
    margin-left: -600px;
    width: 1200px; 
    @media screen and (min-width: $screen-lg) {
        top: auto;
        left: auto;
        margin: 0;
        width: 100%;
    }
}


.titles {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;

    @media screen and (min-width: $screen-lg) {
        bottom: 50%;
    }
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.06em;
        margin-bottom: $margin;
 
        span {
            display: block;
 
            @media screen and (min-width: $screen-md) {
                display: inline;
            }
        }
     }
 
     h2 {
        font-size: 16px;
        width: 70%;
        margin: 0 auto;
 
        @media screen and (min-width: $screen-lg) {
            width: 100%;
            margin: 0;
        }
     }

     .fancy-font {
        font-family: $fancy-font;
    }
    .social {
        position: absolute;
        top: 30px;
        right: 50px;
        overflow: hidden;
 
        a {
            float: left;
            width: 26px;
            height: 26px;
            margin: 0 5px;
            text-indent: -9999px;
            background: url(../images/social-sprite.png) no-repeat;
            opacity: 0.8;
 
            &:hover {
                opacity: 1.0;
            }
 
            @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (-min-device-pixel-ratio: 2) {
                background: url(../images/social-sprite@2x.png) no-repeat;
                background-size: 76px 26px;
                margin-bottom: 100px;
            }
 
            &.facebook {
                background-position: 0px 0px;
            }
 
            &.twitter {
                background-position: -25px 0px;
            }
 
            &.instagram {
                background-position: -50px 0px;
            }
        }
    }
}

.titles h1, h2 {
    width: 100%;
    color: $white;
    margin: 0;
}

.whiten{
    filter: brightness(0) invert(1);
}

#canvas{
    height: 100vh;
}

/*---mouse animation ends---*/

/*---------- 4. Nav area css starts -------------*/

.nav-area{
    height: 65px;
}

.nav-area.sticky_navigation{
    background: #ffffff;
    height: 80px;
}

.navbar-nav {
    margin-top: 15px;
}

.sticky_navigation{
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out ;
    transition: all 0.4s ease-out ;
    -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
}

.sticky_navigation .main-menu{
    margin-top: 0;
}

.sticky_navigation .navbar-brand, .sticky_navigation .navbar-brand span {
    color: #000000;
}

.sticky_navigation .navbar-brand:hover, .sticky_navigation .navbar-brand:focus, .sticky_navigation .navbar-brand span {
    color: #E91E63;
}

.sticky_navigation .nav li a {
    color: #333333;
}

.sticky_navigation .nav li.active a{
    color: #E91E63;
}

.sticky_navigation .nav li.active::before {
    border-top: 1px solid #E91E63;
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
}
.sticky_navigation .nav li.active::after {
    border-bottom: 1px solid #E91E63;
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
}

.sticky_navigation .navbar-brand:hover{
    color: #ffffff;
}

.main-menu{
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-top: 10px;
}

.navbar{
    border:0;
    margin-bottom: 0;
}

.navbar-brand{
    text-transform: uppercase;
    font-size: 25px;
    display: block;
    color: #ffffff;
    font-weight: 800;
    font-size: 21px;
    position: absolute;
    top: 25px;
    left: 50px;
    color: $white;
    @media (max-width:1000px) { display: none; }


}

.logo {
    padding: 5px;
    font-size: 32px;
    letter-spacing: 3px;
}

.navbar-right li{
    display: inline-block;
    float: none;
}

.navbar-right li a{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-right li.active a{
    font-weight: bold;
    color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus{
    background: none;
}

.navbar-toggle .icon-bar{
    background: #033D75;
}



/*---------- Nav area css ends -------------*/


.instagram-wrap {
    color: black;
    height: 80vh;
    margin-top: 20px;

    h1, h2{
        color: $black;
        text-align: center;
    }
    .parallax-container {
        position: relative;
        overflow: hidden;
        height: 500px;
      }
      
      .parallax-container .parallax {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
      
      .parallax-container .parallax img {
        opacity: 0;
        position: absolute;
        left: 50%;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
      }

}

.about{ 
    position: relative;
    margin-top: 10%;
    height: 677px;
    width: 10px;
    transform: translate3d(-237px, -44.4px, 0px);
    }


.aboutme{

    h1{
        font-weight: 10000px;
        font-family: 'Vidaloka',serif;
    }
    h5{
        margin-top: 20px;
        line-height: 1.5;
        font-size: 30px;
    }
}


// skills section
.skilling{
    background-color: black;
    color: white;
    height: 50vh;
}

.skilling:before{
    content: '';
    position: absolute;
    border-bottom: 100px solid black;
    border-left: 98.8vw solid transparent;
    top: -100px;
}

.skilling:after{
    content: '';
    position: absolute;
    border-top: 100px solid black;
    border-right: 98.8vw solid transparent;
    bottom: -100px;
    z-index: 1;
}


.skillbar-container {
    position:relative;
    display:block;
    margin-bottom: 15px;   
    width: 100%;
    background-color: #f75b0e;
    background-color: rgba(255,255,255,.1);
    height:35px;
    height:5px;
  }
    
  .skills {
    height:50px;
    height:5px;
    width:0px;
  }
// end skills section

// projects

.projects{
    margin-top: 7%;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, black 0%, white 100%);
    background: linear-gradient(45deg, black 0%,white 100%);
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 3em;
    text-align: left;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    padding: 15% 0 10px 0;
    text-align: left;
  }
  
  .hovereffect .overlay:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
  }
  
  .hovereffect:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect:hover .overlay:before,
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .space{
      margin-top: 2%;
  }
  .line-one {
    height: 1px;
    width: 100px;
    background: black;
    display: block;
    margin: 0 auto;
    padding: 0;
}


// end projects

/*------ 11. Contact area starts-------*/
.contacte{
    margin-top: 5%;
}

#contact-form {
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    padding: 5%;
}

.contact .fa:before {
    display: inline-block;
    opacity: 0.7;
  }
  
  .contact li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1em;
    text-align: center;
  }
  
  .contact p {
    text-align: center;
  }
  
  .contact {
    display: inline-block;
    margin: 0 auto;
    padding-left: 0;
  }
  
  .cont {
    text-align: center;
  }
.contact-area .form-control{
    border: none;
    border-bottom: 2px solid #a2a2a2;
    box-shadow: none;
    padding: 6px 0;
    border-radius: 0;
    margin-bottom: 30px;
}

.contact-area textarea.form-control{
    border:2px solid #a2a2a2;
    padding: 6px;
    height: 250px;
    margin-bottom: 30px;
}

.single-contact h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.btn.btn-send {
    background: rgb(0, 0, 0);
    color: #ffffff;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.contact-right h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.socials {
    padding-top: 5%;
}

.socials i {
    margin: 0 10px;
}

.single-contact {
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    padding: 5%;
}

/*-------- Contact area ends----------- */

/*--------------13. Footer area starts -------------*/

.footer-area {
    background: #232323;
    color: #ffffff;
    padding: 30px 0;
}

/*--------------- Footer area ends -------------*/